@inject IStringLocalizer<Properties> LocP
@inject IStringLocalizer<UI> LocUI

<EditForm Model="@Data">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link active" id="pills-main-tab" data-bs-toggle="pill" data-bs-target="#pills-main" type="button" role="tab" aria-controls="pills-main" aria-selected="true">Main</button>
        </li>
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-settings" aria-selected="false">Settings</button>
        </li>
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link" id="pills-administrators-tab" data-bs-toggle="pill" data-bs-target="#pills-administrators" type="button" role="tab" aria-controls="pills-administrators" aria-selected="false">Administrators</button>
        </li>
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link" id="pills-managers-tab" data-bs-toggle="pill" data-bs-target="#pills-managers" type="button" role="tab" aria-controls="pills-managers" aria-selected="false">Managers</button>
        </li>
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">Users</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade col-8 col-xxl-5 min-w-600px show active" id="pills-main" role="tabpanel" aria-labelledby="pills-main-tab">
            <XInputFloatingText CssClass2="mb-3" @bind-Value="Data.Name" Label="@LocP["Customer_Name"]"></XInputFloatingText>
            <XInputFloatingText CssClass2="mb-3" @bind-Value="Data.Code" Label="@LocP["Customer_Code"]"></XInputFloatingText>
            <XInputFloatingText CssClass2="mb-3" @bind-Value="Data.ReferenceId" Label="@LocP["Customer_ReferenceId"]"></XInputFloatingText>
        </div>

        <div class="tab-pane fade col-8 col-xxl-5 min-w-600px" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
            <h4 class="text-info">@LocUI["Customer-Settings-Notifications"]</h4>
            <div class="row g-0">
                <XInputText CssClass2="mb-3" @bind-Value="Data.Settings.NotificationsEmail" Label="@LocP["Customer_Settings_NotificationsEmail"]"></XInputText>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.ReceiveNotifications" Label="@LocP["Customer_Settings_ReceiveNotifications"]" IsLarge="true"></XInputCheckBox>
            </div>

            <hr class="my-2" />

            <h4 class="text-info mt-3">@LocUI["Customer-Settings-Licenses"]</h4>
            <div class="row mb-4">
                <XInputNumber CssClass2="col-6 pe-2" @bind-Value="Data.Settings.MaxActiveLicensesCount" Label="@LocP["Customer_Settings_MaxActiveLicensesCount"]"></XInputNumber>
                <XInputNumber CssClass2="col-6 ps-2" @bind-Value="Data.Settings.MaxTotalLicensesCount" Label="@LocP["Customer_Settings_MaxTotalLicensesCount"]"></XInputNumber>
            </div>
            <div class="row g-0">
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CreateActiveLicenses" Label="@LocP["Customer_Settings_CreateActiveLicenses"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanActivateLicenses" Label="@LocP["Customer_Settings_CanActivateLicenses"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanDeactivateLicenses" Label="@LocP["Customer_Settings_CanDeactivateLicenses"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanDeleteLicenses" Label="@LocP["Customer_Settings_CanDeleteLicenses"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanActivateMachines" Label="@LocP["Customer_Settings_CanActivateMachines"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanDeactivateMachines" Label="@LocP["Customer_Settings_CanDeactivateMachines"]" IsLarge="true"></XInputCheckBox>
                <XInputCheckBox CssClass2="mb-3" @bind-Value="@Data.Settings.CanDeleteMachines" Label="@LocP["Customer_Settings_CanDeleteMachines"]" IsLarge="true"></XInputCheckBox>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-administrators" role="tabpanel" aria-labelledby="pills-administrators-tab">3</div>

        <div class="tab-pane fade" id="pills-managers" role="tabpanel" aria-labelledby="pills-managers-tab">4</div>

        <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">5</div>
    </div>
</EditForm>