@typeparam T
@inherits XInputCheckBoxBase<T>

<div class="@CssClass2">
    <div class="form-check form-switch @(IsLarge ? " form-switch-lg" : null)">
        <input class="form-check-input @CssClass" type="checkbox" @bind="CurrentValue" @attributes="AdditionalAttributes" id="@UUID" />
        <XLabel Field="@FieldIdentifier" class="@LabelCssClass" for="@UUID"></XLabel>
    </div>
</div>
