@inherits XInputTextBase

<div class="@CssClass2">
    <XLabel Field="@FieldIdentifier" class="form-label" for="@UUID"></XLabel>
    <input @bind="CurrentValueAsString" @bind:event="oninput" @attributes="AdditionalAttributes" class="form-control @CssClass" id="@UUID"/>
</div>
