@page "/companies"
@using WebLicense.Shared.Companies;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h1>Companies: @TotalCount</h1>

<div class="d-flex my-3">
    <NavLink class="btn btn-success btn-sm" href="/companies/add">
        <i class="bi bi-plus"></i> Add Company...
    </NavLink>
</div>

<RadzenDataGrid TItem="CompanyInfo" Data="@Data" Count="@TotalCount" LoadData="LoadDataAsync" IsLoading="IsLoading"
                AllowPaging="true" PagerPosition="PagerPosition.TopAndBottom" PageNumbersCount="10" PageSizeOptions="new[] {10, 25, 50, 100}"
                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or" FilterMode="FilterMode.Advanced"
                AllowSorting="true" AllowMultiColumnSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="CompanyInfo" Property="@nameof(CompanyInfo.Id)" Filterable="false" Sortable="false" Title="ID" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="CompanyInfo" Property="@nameof(CompanyInfo.Name)" Title="Name" SortOrder="SortOrder.Ascending">
            <Template Context="item">
                <button class="btn btn-link" @onclick="@(() => GoToEditCompany(item.Id))">@item.Name</button>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyInfo" Property="@nameof(CompanyInfo.Code)" Title="Code" Sortable="false" Filterable="true" />
        <RadzenDataGridColumn TItem="CompanyInfo" Property="@nameof(CompanyInfo.ReferenceId)" Title="Reference ID" Sortable="false" Filterable="true" />
    </Columns>
</RadzenDataGrid>

<br />
